.body{
  background-color: black;
}

.animecard {
  font-family: "Monserrat"!important;
  background-color: #191919 !important;
  color: white !important;
  display: flex !important;
  flex-direction: column !important;
  padding: 20px !important;
  line-height: 20px !important;

}

.addedpanel{

}

.detailspanel{

  background-color: #ff0000 !important;
  color: white !important;

}

.animedetails{
  background-color: #191919 !important;
  offset-position: bottom 200px !important;

}

.cardboxanime{

  width:900px !important;

}

.typoanimecard{
  margin-left: 15px !important;
  color: white;
  font-size:20px !important;
  text-align: left;
  font-weight: bolder !important;
  text-transform: uppercase !important;
  line-height: 40px !important;
}

.animecardgeneral {
  display: flex !important;
  background-color: #191919 !important;

}
.posteranimecard {
  margin-left: 50px;
  display: block;
  float: left;
}

.rating70plus{

  color: green !important;

}

.trailerbutton{

margin-top:20px !important;
padding: 8px 40px !important;
color: white !important;
border: 1px solid white !important;

}


.botcards {
  border: none !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardboxanime {
  border: none !important;
  width: 900px;
}

body {
  background-color: black;
  text-align: center;
}

.topframe {
  display: flex !important;
  align-content: center !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: column !important;
}

.navbar {
  width: 900px;
  margin: 30px;
  font-size: 20px;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: bold;
  height: 130px;
  background-color: #191919;
  border-radius: 5px;
}

.logonav {
  margin-left: 30px;
  width: 300px;
  float: left;
}

.buttonblock {
  display: flex !important;
  align-items: center !important;
  align-content: center !important;
}

.animebutton {
  color: rgb(255, 255, 255) !important;
  margin-left: 50px !important;
  height: 130px;
  width: 100px !important;
  border-left: 1px solid rgb(255, 255, 255) !important;
  border-right: 1px solid rgb(246, 246, 246) !important;
  border-radius: 0 !important;
}

.frame {
  height: 500px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  flex-direction: column;
}

.topcards {
  width: 900px;
  overflow: scroll;
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
}

.card {
  display: flex;
  justify-content: center;
  background-color: #191919;
  overflow-y: hidden;
}

.cardbox:hover {
  background-color: #4d4d4d !important;
  transform: scale(1.1);
}

.inputsearch {
  background-color: rgb(255 255 255 / 0.5);
  width: 450px;
  height: 40px;
  margin-top: 50px;
  margin-right: 15px;
  border: none;
  box-shadow: 1px 1px 3px black;
  border-radius: 3px;
  font-family: "Montserrat";
  font-size: 20px;
  padding-left: 20px;
  font-weight: bold;
}

.searchbutton {
  background-color: black;
  color: white;
  width: 80px;
  height: 45px;
  border: none;
  font-size: 15px;
  padding: 10px;
  box-shadow: 1px 1px 3px rgb(0, 0, 0);
  border-radius: 3px;
  font-family: "Noto Serif JP";
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-image: url("../public/search-bg1.png");
  width: 900px;
  height: 300px;
}

.titre {
  color: white;
  font-size: 15px !important;
  font-family: "Montserrat" !important;
  text-transform: uppercase;
  font-weight: bold !important;
}

.rating {
  background-color: white;
  width: 60px;
  height: 60px;
  color: black !important;
  font-size: 15px !important;
  font-family: "Montserrat" !important;
  text-transform: uppercase;
  font-weight: bold !important;
  border: 10px solid rgb(218, 171, 3);
  border-radius: 50%;
  position: relative;
  top: -15%;
  left: 10%;
  vertical-align: middle !important;
  text-align: center !important;
  /* padding: 10px; */
  box-sizing: border-box;
  line-height: 40px !important;
}

.cardbox {
  max-height: 350px;
  min-height: 350px;
  width: 250px;
  border-radius: 2px !important;
  border: none !important;
}

.cardbox img {
  margin-top: 10px;
  width: 125px;
}

.top10{
  margin: 0;
  font-size: 60px;
  color:white;
  font-weight: bolder;
  font-family: "Montserrat";
  text-transform: uppercase;
  text-align: center;
  position: block;
}
